/* Enter your custom styles here */
.page-padding {
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top:10px !important;
}

.center-button {
    display: block;
    margin-left: auto;
    margin-right: 30px;
    margin-top: -40px; /* optional, to add some space above */
}

.chart-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0; /* Remove unnecessary margin */
}

.tooltip-text {
    font-size: 0.9rem; /* Optional: Adjust font size */
    color: #5a5a5a; /* Optional: Change tooltip text color */
    text-align:center;
}

.centerText {
    display: flex;                /* Enable flexbox */
    justify-content: center;      /* Centers text horizontally */
    align-items: center;          /* Centers text vertically */
    height: 100%;                 /* Ensures it takes the full height of its parent container */
    width: 100%;
}

.largeText {
    font-size: 24px;              /* Adjust font size */
    text-align: center;           /* Centers text horizontally */
}

.largeChart {
    width: 100% !important;   /* Ensures the chart takes the full width of its container */
    height: 500px !important; /* Adjust the height to your preference */
}

/* Custom class to decrease the margin between cards */
.customCardMargin {
    margin-top: 5px !important;
    margin-left:15px !important;
    margin-right:15px !important;
}

.customSmallCardMargin {
    margin-top: 10px !important;
    margin-left:0px !important;
    margin-right:20px !important;
}

.customMiniCardMargin {
    margin-top: 10px !important;
    margin-left:0px !important;
    margin-right:20px !important;
    height: 150px;
    overflow-y: auto; 
}

.customBudgetCardMargin {
    margin-top: 5px !important;
    margin-left:15px !important;
    margin-right:15px !important;
    padding-top:20px;
}
